<div class="card shadow mt-2">
    <div class="card-header text-center bg-danger text-light bg-shadow">
        <h4>Formularios <small> Reactivos </small></h4>
    </div>
    <div class="card-body bg-light">
    <form 
        [formGroup]="forma"
        (ngSubmit)="guardar()"
        autocomplete="off"
            
        >
        <!-- Nombre -->
        <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">

                    <input 
                        class="form-control" 
                        type="text" 
                        placeholder="Nombre"
                        formControlName="nombre"
                        [class.is-invalid]="nombreNoValido"
                    >
                    <small *ngIf="nombreNoValido" class="text-danger">
                        El nombre debe tener al menos 5 caracteres
                    </small>
                </div>
        </div>
        <!-- Apellido -->
        <div class="form-group row">
                <label class="col-sm-3 col-form-label">Apellido</label>
                <div class="col-sm-9">

                    <input 
                        class="form-control" 
                        type="text" 
                        placeholder="Apellido"
                        formControlName="apellido"
                        [class.is-invalid]="apellidoNoValido"
                    >
                    <small *ngIf="apellidoNoValido" class="text-danger">
                      Ingrese apellido
                    </small>
                </div>
        </div>
        <!-- Correo -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Correo</label>
            <div class="col-sm-9">

                <input 
                    class="form-control" 
                    type="email" 
                    placeholder="Correo electrónico"
                    formControlName="correo"
                    [class.is-invalid]="correoNoValido"
                 >
                <small *ngIf="correoNoValido" class="text-danger">
                    El correo debe tener al menos 5 caracteres
                </small>
            </div>
        </div>
        <!-- Usuario -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Usuario</label>
            <div class="col-sm-9">

                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="ingrese usuario" 
                    formControlName="usuario"
                    [class.is-invalid]="usuarioNoValido">
                <small *ngIf="usuarioNoValido" class="text-danger">
                    Ese nombre de usuario ya fue tomado
                </small>
            </div>
        </div>

        <!-- Contraseña -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-9">

                <input 
                    class="form-control" 
                    type="password" 
                    placeholder="Contraseña"
                    formControlName="pass1"
                    [class.is-invalid]="pass1NoValido"
                 >
            </div>
        </div>
        <!-- Contraseña 2 -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Repita Contraseña</label>
            <div class="col-sm-9">

                <input 
                    class="form-control" 
                    type="password" 
                    placeholder="Repita Contraseña"
                    formControlName="pass2"
                    [class.is-invalid]="pass2NoValido"
                 >
            </div>
        </div>
        <!-- Dirección -->
        <div class="form-group row" formGroupName="direccion">
            <label class="col-sm-3 col-form-label">Dirección</label>
            <div class="form-row col">

                <div class="col">
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="región"
                        formControlName="region"
                        [class.is-invalid]="regionNoValido"
                    >
                    <small *ngIf="regionNoValido" class="text-danger">
                        Al menos 5 caracteres
                    </small>
                </div>
                <div class="col">
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="ciudad"
                        formControlName="ciudad"
                        [class.is-invalid]="ciudadNoValido"
                    >
                    <small *ngIf="ciudadNoValido" class="text-danger">
                        Al menos 5 caracteres
                    </small>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <table class="table table-dark table-sm ">
                <thead class="bg-primary text-center table-borderless shadow">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody class="text-center" formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>{{ i+ 1 }}</td>
                        <td>
                            <input
                                class="form-control" 
                                type="text"
                                [formControlName]="i" 
                            >
                        </td>
                        <td>
                            <button
                                class="btn btn-danger btn-sm shadow"
                                (click)="borrarPasatiempo(i)"
                            >
                                Borrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
                <button 
                        type="button" 
                        class="btn btn-primary btn-block mt-3 mb-5 shadow"
                        (click)="agregarPasatiempo()"
                        >
                    + Agregar
                </button>
        </div>
    </div>

        <div class="form-group row">
            <div class="input-group col">
                <button 
                    type="submit" 
                    class="btn btn-outline-danger btn-block"
                    >
                    Guardar
                </button>
            </div>
        </div>

    </form>
</div>
</div>


<hr>
<div class="card">
    <div class="card-body">
        <pre>
            Estado del formulario {{ forma.valid }}
       
            <div class="">
                Status:
                <span class="text-success text-center" *ngIf="forma.status === 'VALID'">{{ forma.status}}</span> 
                <span class="text-danger text-center" *ngIf="forma.status === 'INVALID'">{{ forma.status}}</span> 
                
            </div>
        </pre>

        <pre>
            {{ forma.value | json}}
        </pre>
    </div>
</div>
